:root{
    --clr-primary: hsl(155, 60%, 50%);
    --clr-secondary: hsl(185, 60%, 50%);
    --clr-tertiary: hsl(335, 60%, 50%);
}

body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

